
.PatientSearcher {
    padding: 1em;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.PatientSearcher label {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.PatientSearcher input[type=text] {
    font-size: 1em;
    margin: 0 1em;
    padding-left: 0.5em;
    flex: 1;
}